/* Fonter her importeres google fonten Montserrat med forskjelige font skrifttype */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Farge koder*/ /**/

:root {
    --dark-blue: #2A324B;
    --light-blue: #58699D;
    --light-gray: #E1E5EE;
    --white: #fff;
    --rootsize: 18px;
    font-family: Montserrat;
}

/* Setter generelle stiler for hele nettsiden*/

body {
    font-family: 'Montserrat' 'Regular 400';
    font-size: var(--rootsize);
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: var(--light-gray)
}

/* div.container som inneholder nettsidens innhold */
div.container {
    width: 80%;
    max-width: var(--maxwidth); 
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-top: 10rem;
}

/* fanemeny*/
#tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;

}

#tabs li a {
    color: var(--white);
    text-decoration: none;
    padding: 2rem 5rem;
    display: flex;
    text-transform: uppercase;
    text-align: center;
    background-color:var(--dark-blue);
    font-weight: bold; 
}
    


#tabs li.active a {
    background-color: var(--white);
    color: var(--blue);
    
} 
    
#tabContent {
    background-color: var(--white);
    justify-items: center;
    box-sizing: border-box;

}
    
#tabContent > div {
    display: none;
    padding: 10px;
    height: 400px;
}
    
#tabContent > div.active {
    display: block;
}

#tabContent h2 {
    font-weight: bold;
    color: var(--dark-blue);
    margin-top: 4cap;
    margin-inline-start: 2cap;
}
    
#tabContent p {
    font-size: 18px ;
    color: var(--dark-blue);
    line-height: 1.5;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    margin-inline-start: 3cap;
    

}

#tabContent ul {
    font-size: 18px;
    color: var(--dark-blue);
    margin-inline-start: 2cap;
}

#tabContent ul li a {
    transition: all 0.2s ease-in-out;
    color: var(--light-blue);
}

#tabContent ul li a:hover {
    font-size: 18px;
}