@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --drakblue: #2A324B;
    --mainlyblue:#58699D;
    --white:#FFF;

}

body {
    font-family: 'Montserrat' sans-serif;
    font-size: var(--rootsize);
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

#tabsMenu {
    width: 100%;
    display: flex;
    flex-wrap:  wrap;
    padding-top: 2rem;
}

#tabs {
    list-style-type: none;
    margin: 0;
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
}

#tabs li a {
    color: var(--drakblue);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    text-transform: uppercase;
    transition: ease-in-out .4s;
    margin-right: 10px;
    border-top: #FFF;
}

#tabContent > div {
    display: none;
    padding: 20px;

}


#tabContent > div.active {
    display: block;
}

#tabContent h2 {
    color: var(--darkgray);
    margin: 0;
}

#tabContent p {
    font-size: 15px ;
    color: var(--darkgray);
    line-height: 1.5;
}

#tabContent ul {
    margin: 10px 0;
    padding: 0 17px;
    font-size: 15px;
    color: var(--darkgray);
}

#tabContent ul li a {
    transition: all 0.2s ease-in-out;
    color: var(--blue);
}

#tabContent ul li a:hover {
    font-size: 18px;
}